/* Global */

html {
    box-sizing: border-box;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body, .container, .welcome-container, .game-container {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: : flex;
}

html, body, .container, .welcome-container, .game-container {
    width: 100%;
    height: 100%;
}

#canvas-background, #canvas-game {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Welcome */

.main {
    display: flex;
    flex-direction: row-reverse;
    height: 90%;
    align-items: center;
    justify-content: center;
}

.welcome-container {
    z-index: -10;
    background-size: cover;
    transition: 600ms ease;
}

.brand {
    color: white;
    font-family: 'Oswald';
    font-size: 190px;
    margin-left: 5%;
}

.level-buttons {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

button {
    width: 150px;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 15px 30px;
    border: 1px solid transparent;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: #FB6A5D;
    transition: all .35s;
    outline: none;
}

button:hover {
    background-color: transparent;
    color: #FB6A5D;
    border: 2px solid #FB6A5D;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.main button:hover {
    color: white;
}

footer, header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    font-family: 'Inconsolata';
    color: white;
}

header.font-red {
    color: #FB6A5D;
}

/* Game */

.game-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
    z-index: -10;
}

#colors-left {
    width: 30%;
    height: 200px;
    display: flex;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
}

.colors-left-container {
    margin: 5px;
}

#colors-board {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

.color-container .colors-left-container {
    margin: 0;
}

.color-container, .colors-left-container {
    display: flex;
    border-radius: 5px;
    width: 89px;
    min-width: 89px;
    height: 80px;
}

#colors-board div {
    border-bottom: 1px solid grey;
}

.ui-draggable-dragging {
    border: 1px solid red;
}

/* Countdown */

.flip-clock-wrapper {
    width: auto;
    margin: auto;
}

.flip-clock-wrapper ul {
    height: 80px;
}

.flip-clock-wrapper ul li a div div.inn {
    font-size: 30px;
}

.flip-clock-label {
    display: none;
}

.ui-draggable-dragging {
    border: 1px solid red;
}

.flip-clock-wrapper {
    width: auto;
    margin: auto;
}

.flip-clock-wrapper ul {
    height: 80px;
}

.flip-clock-wrapper ul li a div div.inn {
    font-size: 30px;
}

.flip-clock-label {
    display: none;
}
